/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*text-align: center;*/
}

/* targets the html element body */
body {
	/*background-color: skyblue;*/
	background-image: url("../images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #f2f2f2; /* off white */
}
/*end of body styling*/

/*target html element h1*/
h1 {
	font-size: 29px;
	background-color: #333; /* off black */
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 3px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
}
/*end of h1 styling*/

/*start of h2 styling*/
h2{
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 15px;
	background-color: #333;
	/*margin: 10px;  magin crates space outside of the elemets*/
	padding: 10px; /*adds space inside the elements*/
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}

/*target bio the element with the class bio*/
.bio {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	background-color: rgba(51,51,51, 0.5);
	line-height: 1.75;
}
/*end of class bio styling*/

/*targets the elements with the id me*/
#me {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border-color: #fbda91;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 50px;

}
/*end of targer me*/

.container {
	width: 500px;
	text-align: center;
	margin: 0 auto; /* this will center the element horizontally*/
}